{% extends 'Home/base.html' %}
{% block body_block %}
<div class="container">
    <h1>User Details</h1>
    {% if user.userprofileinfo %}
    <img src="">
    {% endif %}
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ user.username }}</td>
            {% if user.userprofileinfo.is_vip %}
                <i class="fas fa-gem" style="color: blue;"></i>  <!-- Thay đổi màu sắc theo ý muốn -->
            {% endif %}
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
        {% if user.userprofileinfo %}
        <tr>
            <td>Bio:</td>
            <td>{{ user.userprofileinfo.bio }}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{ user.userprofileinfo.address }}</td>
        </tr>
        {% endif %}
    </table>

     <!-- Nút nâng cấp thành VIP chỉ hiển thị cho người dùng không phải admin -->
     {% if not user.is_staff %}
     <form method="POST" action="{% url 'ProjectWebGame:upgrade_to_vip' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Upgrade to VIP</button>
     </form>
     {% endif %}
</div>
{% endblock %}