<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    {% extends 'base.html' %} % block body_block %} 
    <div class="container">
      <h1>Create a New Game</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Create</button>
        {% if form.errors %}
        <div class="error">Please correct the errors above.</div>
        {% endif %}
      </form>
    </div>
    {% endblock %}
  </body>
</html>
