.comment {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.comment-text {
    margin: 0;
}

.delete-button {
    color: #d9534f; /* Màu đỏ cho nút xóa */
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.delete-button:hover {
    text-decoration: underline; /* Hiệu ứng khi hover */
}

.rating {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 24px; /* Kích thước của sao */
    color: rgb(0, 0, 0); /* Màu mặc định của sao */
    transition: color 0.2s; /* Hiệu ứng chuyển màu */
    margin-right: 5px; /* Khoảng cách giữa các sao */
}

.star.hovered {
    color: gold; /* Màu khi di chuột lên sao */
}

#emoji-picker {
    display: none; /* Bắt đầu ẩn */
    border: 1px solid #ccc;
    background: white;
    position: absolute; /* Đặt vị trí tuyệt đối */
    z-index: 1000; /* Để đảm bảo nó hiện lên trên các phần tử khác */
    margin-top: 5px; /* Khoảng cách giữa button và emoji picker */
}